{{#each errorMessages}}
<div class="alert alert-danger alert-dismissible fade show my-1 py-1" role="alert">
  {{this.message}}
  <button type="button" class="close p-1" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{#if alert_msg}}
<div class="alert alert-danger alert-dismissible fade show my-1 py-1" role="alert">
  {{alert_msg}}
  <button type="button" class="close p-1" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show my-1 py-1" role="alert">
  {{success_msg}}
  <button type="button" class="close p-1" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}