<div class="container d-flex flex-column flex-nowrap align-items-center mt-4">
  <h3>請輸入你的支出</h3>
  <h6 class="align-self-start ml-5"><span style="color: red;">*</span>必填欄位</h6>
  {{!-- 表單 --}}
  <form action="/expense/new" method="POST" class="d-flex flex-column flex-nowrap align-items-start">
    <div class="form-group mt-4">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <label for="expenseName" class="m-0">名稱<span style="color: red;">*</span> :</label>
        </div>
        <div class="col-auto">
          <input type="text" name="name" id="expenseName" placeholder="消費名稱..." class="form-control" required>
        </div>
      </div>
    </div>
    <div class="form-group mt-4">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <label for="expenseDate" class="m-0">日期<span style="color: red;">*</span> :</label>
        </div>
        <div class="col-auto">
          <input type="date" name="date" id="expenseDate" class="form-control" required>
        </div>
      </div>
    </div>
    <div class="form-group mt-4">
      <div class="row">
        <div class="col-auto d-flex align-items-center">
          <label for="expenseCategory" class="m-0">類別<span style="color: red;">*</span> :</label>
        </div>
        <div class="col-auto">
          <div class="input-group">
            <select class="form-control" id="expenseCategory" name="category" required>
              {{#each category}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="form-group mt-4">
        <div class="row">
          <div class="col-auto d-flex align-items-center">
            <label for="expenseAmount" class="m-0">金額<span style="color: red;">*</span> :</label>
          </div>
          <div class="col-auto">
            <input type="number" name="amount" id="expenseAmount" class="form-control" min="0" step="100" required>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-block rounded-pill align-self-center">新增支出</button>
  </form>
</div>